* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.NavbarItems {
    color: #fff;
    background: #6F8EB0;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
}


.nav-menu {
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 5px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    font-weight: 100;
}
 .nav-links {
     color: #fff;
     text-decoration: none;
     padding: 0.5rem 1rem;
 }

 .button-nav {
     text-decoration: none;
     margin-left: 0;
     border-radius: 0.2rem;
     display: flex ;
     padding: 0.2rem 0.8rem;
     background: white;
     color: #6F8EB0;
 }

 
